.question, h1, h4
{
/*	width: max-content;*/
}
#search
{
	float: right;
	margin-right: 25px;
	margin-left: 25px;
	font-size: 35px;
}
.mainLi
{
	width: max-content;
}
#answers
{
	margin-left: 25px;
	width: max-content;
}
.answer
{
	border-left: grey solid 1px;
	border-bottom: grey solid 1px;
	padding-left: 15px;
	margin-top: 15px;
	width: max-content;
	margin-left: 80px;

}
a
{
	text-decoration: none;
}
.answerPic
{
	float: left;
}