/* top level
--------------------------------------------*/
.mainMenu
{
    align-content: center;
    margin: 0 auto; 
    width: 99%; 
    float: none;
    position: fixed;/* may need for scrolling*/
    z-index:4;
    height: 36px;
    background: #444;
    border: 1px solid #111;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
    display: flex;
    top: 5px;
}

.mainMenu div {
    box-sizing:content-box;
}  

.mainMenu li
{/*
    padding: 0;
    float: left;*/
    height: 36px;
    position: relative;/*delete it if you want submenu to be positioned relative to the whole menu instead of this li element*/
    color: #EEE;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index:5;
}

.mainMenu li:hover, .mainMenu li.onhover
{
    border-top:0;
}
.mainMenu a
{
    padding: 0 30px;
    line-height: 36px; /*Note: keep this value the same as the height of .mainMenu li */
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    color: #FFF;
/*    position: relative;*/
    text-align: center;
    margin: auto;
    width: 100%;
}
.mainMenu li:hover a, .mainMenu li.onhover a
{
    background-color: #222;
    color: #FFF;
    z-index: 9;
} 
        
/*Used to align a top-level item to the right*/        
.mainMenu li.menuRight
{
    float: right;
    margin-right: 0px;
}
        
/*for the top-level separators*/
.mainMenu li.separator
{
    font-size:0;
    overflow:hidden;
    border-left:1px solid #aaa;
    height:20px;
    margin-top:8px;
    z-index:4;
    width: 1px;
}
               
        
/* sub level
--------------------------------------------*/
        
.mainMenu .drop
{
    position: absolute;
    z-index:5;
    left: -9999px;
    border: 1px solid #000;
    background: #222;           
    text-align: left;
    padding: 20px;  
    top:35px;
    color:#999;
    width: 100%
}

.mainMenu .drop a
{
    padding-left: 0px;
    padding-right: 0px;
    line-height: 26px;
    font-size: 14px;
    font-weight: normal;
    display: inline;
    text-align: left;
    position: static;
    z-index: 0;
}

.mainMenu li:hover .drop, .mainMenu li.onhover .drop
{
    left: 1px;/*Use this property to change offset of the dropdown*/
}
.mainMenu li:hover .dropToLeft, .mainMenu li.onhover .dropToLeft
{
    left: auto;
    right: -1px;
}
.mainMenu li:hover .dropToLeft2, .mainMenu li.onhover .dropToLeft2
{
    left: auto;
    right: -60px;
}

/* Elements within the drop down sub-menu
--------------------------------------------*/

.mainMenu div.drop div div
{
    padding: 6px 20px;
}
.menuTemplate1 li:hover .drop a, .menuTemplate1 li.onhover .drop a
{
    background: none;
    background-image:none;
    padding:0 0;
}
.mainMenu div.drop div a
{
    line-height: 24px;  
    color:white;
    background:none;
}
.mainMenu div.drop div a:hover
{
    text-decoration:underline;
    cursor:pointer;
    color:Red;
}

.mainMenu div.left {float:left;}

 
/* CSS3 effects
--------------------------------------------*/
 
/*for top-level*/       
.decor3_1 
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 1px 2px 4px 2px #999;
    -webkit-box-shadow: 1px 2px 4px 2px #999;
    box-shadow: 1px 2px 4px 2px #999;
}

/*for submenu.*/   
.decor3_2 
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    -moz-box-shadow: 0px 8px 14px #777;
    -webkit-box-shadow: 0px 8px 14px #777;
    box-shadow: 0px 8px 14px #777;  
}
.mainMenu form
{
    margin: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    height: 100%;
}

button
{
    color: white;
    background: #444;
    border: none;
    height: 100%;
    width: 65px;
}

#register
{
    display: flex;
    justify-content: center;
    align-content: center;
}

.mainMenu input
{
    margin-right: 15px;
    text-align: center;
    width: 150px;
    height: 50%;
    margin-top: 5px;
}

#my-div input
{
    margin-top: 15px;
    width: 150px;
    text-align: left;
    display: inline-flex;
    align-content: right;
}

#my-div label
{
    margin-top: 15px;
    display: inline-flex;
    color: white;
}

#my-div fieldset
{
    background-color: #444;
    border: black solid 5px;
    border-radius: 5px;
}

#my-div button
{
    margin: auto;
    margin-top: 20px;
    border: black 2px solid;
    border-radius: 5px;
    width: 80px;
    height: 45px;
    font-size: 16pt;
}
#my-div button[type=reset]
{
    float: right;
}
#clear
{
    height: 40px;
}
#my-div {
    position: absolute;
    z-index: 10; /* Make sure its above other items. */
    top: 50px;
}